<% @page_title = "Login" -%>
<div>
  <h1>Log in</h1>
  <%= form_tag(:action => 'check') do %>
    <p>Email:</br> <%= text_field_tag(:email) %></p> 
    <p>Password:</br> <%= password_field_tag :pwd_hash %></p> 
    <%= submit_tag("Log In") %>
  <% end %>
</div>